
@media (max-width: 1321px) {
	.projects-container {
		width: 90%;
		height: 100%;
	}

	.project-card {
		width: 60%;
	}
}

@media (max-width: 1315px) {
	.skills-container {
		width: 90%;
	}

	.section-title {
		font-size: 30px;
		margin-bottom: 30px;
	}

	.row {
		display: grid;
		justify-items: center;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
	}

	.card {
		width: 60%;
	}
}

@media (max-width: 1023px) {
	.menu {
		li {
			a {
				font-size: 20px;
			}
		}
	}

	h2 {
		font-size: 35px;
	}

	.project-description {
		font-size: 20px;
		margin-bottom: 10px;
	}

	.name {
		font-size: 14px;
	}

	p {
		font-size: 22px;
	}

	.hero {
		height: 60vh;
	}

	.hero-content {
		p {
			font-size: 22px;
		}
	}

	#about-me {
		height: 100%;
	}

	.about-content {
		width: 100%;
		margin-left: 0;

		h1 {
			font-size: 35px;
			margin-bottom: 30px;
		}
	}

	.text-left {
		margin-right: 0;
		margin-bottom: 30px;

		h2 {
			font-size: 25px;
			margin-bottom: 8px;
		}
	}

	.illustration {
		display: none;
	}

	.container {
		width: 90%;
	}

	.section-title {
		font-size: 30px;
		margin-bottom: 30px;
	}

	.card {
		width: 270px;
	}
}

@media (max-width: 769px) {
	header {
		position: static;
	}

	.navigation {
		height: 80px;
		padding: 0 10px;

		img {
			height: 55px;
		}
	}

	.hero {
		height: 60vh;
	}

	.heart-link {
		i {
			font-size: 35px;
		}
	}
}

@media (max-width: 767px) {
	.about-content {
		h1 {
			font-size: 26px;
			margin-bottom: 20px;
		}
	}

	.text-left {
		h2 {
			font-size: 20px;
			margin-bottom: 6px;
		}

		p {
			margin-bottom: 12px;
		}
	}

	.container {
		width: 100%;
	}

	.section-title {
		font-size: 26px;
		margin-bottom: 20px;
	}

	.row {
		display: flex;
		flex-direction: column;
		align-content: center;
	}

	.card {
		width: calc(100vw - 10px);
		padding: 10px;
	}

	#contact-page {
		flex-direction: column;
		align-items: center;
	}

	.contacts {
		flex-direction: column;
	}

	.footer-container {
		flex-direction: column;
		align-items: center;
	}
}

@media (max-width: 630px) {
	.navigation {
		flex-direction: column;
		height: auto;
		padding: 10px;
	}
}

@media (max-width: 601px) {
	.heart-link {
		i {
			display: none;
		}
	}
}

@media (max-width: 560px) {
	.navigation {
		flex-direction: column;

		li {
			display: block;
			margin-left: 0px;
			line-height: 1.7;
			text-align: center;
		}
	}
}

@media (max-width: 481px) {
	.hero {
		height: 55vh;
	}
}